.form{
    padding: 1.2vw;
}
.form-title{
    font-size: 2rem;
}
p.form-subtext{
    margin-top: 0.5vw;
    font-size: 1.1rem;
    color: black;
    margin-bottom: 3vw;
}
.code-input-container{
    display: none;
}
.code-input{
    margin-top: 2vw;
    margin-left: 7vw;
    height: 3vw;
    width: 15vw;
    border: 2px solid black;
    font-size: 1.8rem;
}
p.code-label{
    font-size: 1rem;
    float: left;
    text-align: center;
    color: black;
}
a.code-label{
    text-decoration: none;
}
div.code-input-text-container{
    display: block;
    margin-left: 3vw;
}